<div class="card animated fadeIn fast border-0 shadow-sm rounded-0 "  *ngIf="item['images'].length > 0" > 
    <img class="card-img-top img-card-big mx-auto cursor-pointer" [src]="item['images'][0]['url']" (click)="viewArtist(item)" alt="espera">
    <div class="card-body card-h-app">
        <h4 class="card-title text-uppercase">
            <small class="float-end small">
                <span class="badge bg-light text-muted ">
                    {{item['type']}}
                </span>
            </small>
            {{item['name']}}
        </h4>
        <p class="card-text"> 
            <a [href]="item['external_urls']['spotify']" target="_blank" >
                Ir a la pagina oficial
            </a>
        </p>
    </div>
    <!-- <div class="card-footer bg-transparent border-0">
        <a class="btn btn-outline-dark d-block" [routerLink]="['/artist', item['artists'][0]['id']]" >
            ver
        </a>
    </div> -->
</div> 